<ul>
			<li><a href="/">HOME</a></li>
			<li><a href="/newdelhi">NEW DELHI</a></li>
			<li><a href="/newyork">NEW YORK</a></li>
			<li><a href="/barlin">BARLIN</a></li>
			<li><a href="/london">LONDON</a></li>
		</ul>