<html>
	<body>
	
	<h2>Hi {{welcomeMessage}}</h2>
	
	<form method="post" action="/toCity">
			<input  type="text" name="interset" placeholder="Enter your interset"/>
			<button type="submit" value="Sign-IN"> Sign in</button>
	</form>
		
		
		LANDING PAGE
	</body>
</html>