<html>
	<body>
	
		<form method="get" action="/toLanding">
			<input  type="text" name="nm" placeholder="Enter your name"/>
			<button type="submit" value="Sign-IN"> Sign in</button>
		</form>
		
		LOGIN PAGE
	</body>
</html>